@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700;800;900&display=swap');

:root {
    --margin-padrao: 0vh 2vw 5vh 2vw;
    --fonte-regular: 400;
    --fonte-semiBold: 600;
}

.page {
    width: 60vw;
    height: auto;
    background: #ffffff;
    display: flex;
    justify-content: center;
    font-family: inter;    
    padding: 3vh 20vw 3vh 20vw;
}

.curriculo {
    width: auto;
    height: auto;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(5, auto);
    border: 1vw solid #000000;
}

.barra {
    height: auto;
    background-color: #000000;
    grid-column: 2 / span 1;
    grid-row: 1 / span 5;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20vw auto;
}

.barra .foto {
    height: 12vw;
    width: 12vw;
    justify-self: center;
    margin-top: 5vh;
    border-radius: 50%;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.barra .lista-competencias {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    color: #FFFFFF;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.barra .lista-competencias .titulo {
    font-size: 1.8em;
    margin-bottom: 1em;
}

.cabecalho {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    margin: 3vh 2vw 5vh 2vw;
    display: inline;
}

.cabecalho .nome {
    font-weight: 800;
    font-size: 3em;
    margin-bottom: 1vh;
}

.cabecalho .idade {
    font-weight: 600;
    font-size: 2em;
}

.contatos {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    margin: var(--margin-padrao);
    font-size: 1.1em;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 1em;
}

.contatos .item-contato {
    grid-row: span 1;
    display: grid;
    grid-template-columns: 3.5vw 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.contatos .item-contato .icone {
    margin-right: 0.5em; 
    grid-column: 1 / span 1;
    font-size: 1.5em;
}

.contatos .item-contato .texto {
    font-weight: 400;
    display: inline;
    grid-column: 2 / span 1;
    margin-bottom: 0;
}

.contatos .item-contato .link {
    text-decoration: none;
    color: #000000;
}

.objetivo {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    margin: var(--margin-padrao);
}

.titulo {
    font-size: 2em;
    font-weight: var(--fonte-semiBold);
    margin-bottom: 1vh;
}

.subtitulo {
    font-size: 1.3em;
    font-weight: var(--fonte-semiBold);
    margin: 2vh 0 1vh 0;
}

.texto {
    font-size: 1.1em;
    margin-bottom: 0.5em;
}

.textopeq {
    font-size: 0.8em;
    margin: 0 0 0.5em 1vw;
}

.textoObs {
    margin-top: 4vh;
    text-align: center;
}

.experiencia {
    margin: var(--margin-padrao);
}

.experiencia .lista-itens {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
        "area1 area3"
        "area2 area4";
    gap: 2vw;
}

.experiencia .lista-itens .item1 {
    grid-area: area1;
}
.experiencia .lista-itens .item2 {
    grid-area: area2;
}
.experiencia .lista-itens .item3 {
    grid-area: area3;
}
.experiencia .lista-itens .item4 {
    grid-area: area4;
}

.formacoes {
    margin: var(--margin-padrao);
}

.formacoes .bloco {
    margin: 0 0 3vh 1vw;
}   

.formacoes .bloco .formacao {
    margin-bottom: 3vh;
}

@media (max-width: 480px) {
    :root {
        --margin-padrao: 0vh 5vw 8vh 5vw;
    }
    
    .page {
        background-color: #000000;
    }
    
    .curriculo {
        width: 90vw;
        display: flex;
        flex-direction: column;
        border: none;
    }

    .barra {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .barra .foto {
        --tamanho-foto: 70vw;
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
        height: var(--tamanho-foto);
        width: var(--tamanho-foto);
        margin-bottom: 5vh;
    }

    .barra .lista-competencias {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        margin-bottom: 5vh;
    }

    .lista-competencias .titulo {
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
        font-size: 2.5em;
    }

    .lista-competencias .texto {
        justify-self: center;
        font-size: 1.5em;
    }

    .cabecalho {
        margin: 3vh 5vw 5vh 5vw;
        text-align: center;
    }

    .cabecalho .nome {
        font-size: 2.5em;
    }
    
    .cabecalho .idade {
        font-size: 2.0em;
    }

    .contatos {
        margin: var(--margin-padrao);
    }

    .contatos .item-contato  {
        grid-template-columns: 13vw 1fr;
    }

    .contatos .item-contato .icone {
        font-size: 2em;
    }

    .contatos .item-contato .texto {
        word-wrap: break-word;
        width: 67vw;
        font-size: 1em;
    }

    .titulo {
        text-align: center;
        margin-bottom: 2vh;
    }

    .texto {
        font-size: 1.3em;
    }

    .objetivo {
        text-align: center;
    }

    .experiencia .lista-itens {
        grid-template-areas:
            "area1"
            "area2"
            "area3"
            "area4";
        gap: 2vh;
    }

    .experiencia .lista-itens .texto {
        margin-bottom: 0.2em;
    }

    .formacoes .textopeq {
        font-size: 1em;
        margin-left: 7vw;
    }
}

